/* ****************************************************************************************************

  # anchorTxt
  - utility

**************************************************************************************************** */
@use "global" as g;

.u-anchorTxt {
  color : g.$colorLink;
  text-decoration : underline;

  &:hover {
    text-decoration : none;
  }
}
