/* ****************************************************************************************************

  # hide
  - utility

**************************************************************************************************** */
@use 'global' as g;
/* ======================================================================

  〜まで消す

====================================================================== */
// ▼pcのときまで消す

.u-hideMqMaxLg {
  @include g.mq(lg) {
    display : none !important;
  }
}

// ▼ipadのときまで消す

.u-hideMqMaxMd {
  @include g.mq(md) {
    display : none !important;
  }
}
/* ======================================================================

  〜から消す

====================================================================== */
// ▼pcから消す

.u-hideMqMinLg {
  @include g.mq(lgMin) {
    display : none !important;
  }
}

// ▼ipadから消す

.u-hideMqMinMd {
  @include g.mq(mdMin) {
    display : none !important;
  }
}

// ▼大きめのSPから消す

.u-hideMqMinSm {
  @include g.mq(smMin) {
    display : none !important;
  }
}
