/* ****************************************************************************************************

  # margin
  - utility

**************************************************************************************************** */
/* ======================================================================

  上方向のマージン

====================================================================== */
@for $i from 0 through 10 {
  .u-mT#{$i} {
    margin-top : g.getRem(10) * $i !important;
  }
}
/* ======================================================================

  右方向のマージン

====================================================================== */
@for $i from 0 through 10 {
  .u-mR#{$i} {
    margin-right : g.getRem(10) * $i !important;
  }
}
/* ======================================================================

  下方向のマージン

====================================================================== */
@for $i from 0 through 10 {
  .u-mB#{$i} {
    margin-bottom : g.getRem(10) * $i !important;
  }
}
/* ======================================================================

  左方向のマージン

====================================================================== */
@for $i from 0 through 10 {
  .u-mL#{$i} {
    margin-left : g.getRem(10) * $i !important;
  }
}
