/* ****************************************************************************************************

  # padding
  - utility

**************************************************************************************************** */
/* ======================================================================

  上方向のパディング

====================================================================== */
@for $i from 0 through 10 {
  .u-pT#{$i} {
    padding-top : g.getRem(10) * $i !important;
  }
}
/* ======================================================================

  右方向のパディング

====================================================================== */
@for $i from 0 through 10 {
  .u-pR#{$i} {
    padding-right : g.getRem(10) * $i !important;
  }
}
/* ======================================================================

  下方向のパディング

====================================================================== */
@for $i from 0 through 10 {
  .u-pB#{$i} {
    padding-bottom : g.getRem(10) * $i !important;
  }
}
/* ======================================================================

  左方向のパディング

====================================================================== */
@for $i from 0 through 10 {
  .u-pL#{$i} {
    padding-left : g.getRem(10) * $i !important;
  }
}
